@model IEnumerable<ShopCar.Models.Order>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MyDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.Display("Count")
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <a href="/Orders/Details?id=@item.Id">    @Html.DisplayFor(modelItem => item.Employee.Name)     </a>
               
            </td>
            <td>
                    <a href="/Orders/Details?id=@item.Id">  @Html.DisplayFor(modelItem => item.MyDate)       </a>
               
            </td>
            <td>
                    <a href="/Orders/Details?id=@item.Id">      @Html.DisplayFor(modelItem => item.Customer.Name)    </a>
              
            </td>
            
        </tr>
}
    </tbody>
</table>
